!!! 5
html
  head
    include ../includes/head
  
  body
    include ../includes/nav

    .container
        h2 Thru Date
        h4= date

    .container
      form(class="form-inline", role="form")
        .form-group

          label(
            for="report-date"
            class="control-label sr-only"
          ) Date: 

          input(
            id="report-date"
            class="form-control"
            type="date", 
            placeholder="YYYY-MM-DD", 
            value=date
          )

          button(
            type="button"
            class="btn btn-default thru-date"
          ) Run


    .container
      if standings.length == 0
        h1 No Standings for this date
      else
        table.table.table-striped.table-bordered.table-hover.table-condensed.sortable
          thead

            - var tm1 = standings[0]
            tr
              th Rank
              th Team
              th Points
              each val, key in tm1.stats
                th #{key}
          tbody
            each tm in standings
              tr 
                td #{tm.rank}
                td #{tm.team}
                td #{tm.points}

                each val, key in tm.stats

                  td #{val.stat}

        
    include ../includes/foot